body {
	font-family: verdana;
	background-color: rgb(193, 193, 255);
	background-image: url(fond_oiseaux.svg);
	background-size: 64px;
	color:rgb(0,0,153);
}
h1 {
	text-align: center;
}
div.chanson {
	width:17em;
	margin:0 auto;
	font-size:24px;
}
div.strophe {
	background-color: rgb(217, 217, 255);
	padding:1em;
	border-radius: 1em;
	margin:1em 0;
	box-shadow: 1px 1px 3px rgba(0,0,0,.2) inset;
}
div.refrain {
	font-weight: bold;
}
div.reponse {
	font-family: cursive;
}
