@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Love+Ya+Like+A+Sister|Montserrat+Alternates:400,700&display=swap");
:root {
  --hue: 200;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: hsl(var(--hue), 100%, 30%);
  background-image: url(../images/fond_oiseaux.svg);
  background-size: 64px;
  color: #000099;
}

nav {
  background-color: hsl(var(--hue), 70%, 70%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  font-size: smaller;
  height: 3em;
}
nav ul {
  width: 80ch;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  margin: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul li:hover {
  background-color: hsl(var(--hue), 70%, 30%);
  color: white;
}
nav ul li a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  color: inherit;
  text-decoration: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#app > header, #app > footer {
  background-color: hsl(var(--hue), 100%, 30%);
  color: white;
}
#app > header {
  -webkit-box-ordinal-group: -9;
      -ms-flex-order: -10;
          order: -10;
}
#app > nav {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
#app > footer {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5em;
  border-top: 2px solid hsl(var(--hue), 70%, 70%);
}

#app > header {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 2cm;
  text-align: center;
}

div.body h1 {
  color: white;
  text-align: center;
  font-size: 3em;
}
div.body div.chanson {
  width: 17em;
  margin: 0 auto;
  font-size: 24px;
}
div.body div.strophe {
  background-color: hsl(var(--hue), 100%, 90%);
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0;
}
div.body div.refrain {
  font-weight: bold;
}
div.body div.reponse {
  font-weight: normal;
  font-family: "Great Vibes", cursive;
}